$board-green: #5e995e;
$light-green: #C5EBC5;
$medium-green: #9BCC9B;
$dark-green: #84B584;
$dark-green-transparent: #84B58450;
$money-dark-green: #398E3D;
$money-light-green: #A4D5A6;

$dark-grey: #2A2C2B;